/****Grid based on 1216px max ****/

html,body{height:100%;min-width:320px;}

body {
	position:relative;
	font-family:"Source Sans Pro",sans-serif;
    font-size: 1em;
    line-height: 1.4;
    margin:0;
    padding:0;
    width:100%;
    background:#f3f3e5;
    color:#424034;
}

#footerwrap{
	min-height: 100%
}

#header{
	background:#424034;
	width:100%;
	height:150px;
	z-index:4;
	position:relative;
	margin-bottom:20px;
}
#subhead{
	float:left;
	margin:50px 0 0 3px;
	line-height: 1.1em;
}
#subhead>h3{
	color:#eeffef;
	font-style: italic;
}
.centered{
	max-width:76em;
	margin:0 auto;
	position:relative;
}
.centered:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}

h1{
	font-family:'Archivo Black',sans-serif;
	font-size:100px;
	float:left;
	color:#eeffef;
	margin:0 0 0 0.657894736%;
}

#locatorArrow{
	width: 0; 
	height: 0; 
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 12px solid #555544;
	left:38px;
	bottom:0;
	position:absolute;
	z-index:10;
}

.navdiv{
	position:absolute;
	top:130px;
	right:.986842105%;
	display:block;
	height:64px;
	width:403px;
	box-shadow:0px 1px 2px #333;
	border-left:1px solid #778866
}
.nav{
	color:#001100;
	text-decoration: none;
	font-family:'Archivo Black';
	position:relative;
	font-size:0.9em;
	border-right:1px solid #332222;
	height:40px;
	width:100px;
	display:block;
	float:left;
	text-align:center;
	padding:24px 0 0 0;
	background:#778866;
	z-index: 2;
}
.currNav{
	background:#99bb66;
}
.lastitem{
	border-right:none;
}
.nav:hover,#joinmail:hover{
	background:#99bb66;
	cursor:pointer;
}
.nav:active{
	background:#99bb66;
}
#sitenav>a:hover{
	color:#99bb66;
	border-bottom:1px solid #99bb66;
	cursor:pointer;
	margin-bottom:-1px;
}
#con{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background:#f3f3e5;
	width:100%;
	min-height:700px;
	position:relative;
	overflow-x:hidden;
	padding-bottom:220px;
}
ul{
	list-style-type: none;
}
li{
	padding-left: 4px;
}
#listing{
	font-size: 1.2em;
}
#listing>li:before{
	content:"\2192  ";
	margin-left:-1.2em;
}
#packageheader{
	position:relative;
	width:6em;
	margin:0 auto;
	text-align: center;
}
#packageheader:before,#packageheader:after{
	position:absolute;
	content:"";
	top:55%;
	width:8em;
	display:block;
	height:1px;
	background-color:#424034;
}
#packageheader:before{
	right:100%;
}
#packageheader:after{
	left:100%;
}

.pricegrid{
	position:relative;
	float:left;
	color:#424034;
	text-shadow:0 1px 1px #eeffef;
	background:#edddcc;
	box-shadow:0 1px 2px 0 #444,
			   0 0 1px 0 #444;
	width:450px;
	padding:10px;
	font-size:0.9em;
	margin: 30px 40px 50px;
	
}
.priceisright{
	float:right;
}
.pricecenter{
	float:none;
	margin:30px auto 50px;
	clear:both;
}
.pricegrid >h3{
	width:8em;
	margin:0 auto;
	text-align: center;
}
.ltitle{
	text-transform:uppercase;
	font-family:'Archivo Black';
}
.per{
	font-family:'Archivo Black';
	font-size:0.7em;
	text-transform: none;
}
.leftlist{
	float:left;
}
.rightlist{
	float:left;
	margin-right:15px;
}

.ratetitle{
	width:8em;
	margin:10px auto 5px;
	display:block;
	clear:both;
}
.rates{
	clear:both;
	width:83%;
	margin:0 auto;
}
.rates li{display:inline;padding-right:10px;}
.price{
	font-family:'Archivo Black';
	font-size:0.9em;
}
#centerContent{
	margin:80px auto 0;
	width:370px;
}

#media{
	width:100%;
	height:395px;
}
.vid{
	margin:40px 4.934210526%;
	float:right;
	width:39.47368421%;
	border-radius:4px;
	box-shadow:0 1px 2px 0;
}
#hogpic{
	margin:-50px .986842105% 30px 0;
	float:right;
	width:55.592105263%;
	min-width:316px;
	border-radius:4px;
	box-shadow:0 1px 2px 0;
}

#para{
	float:left;
	margin-left:1.644736842%;
	width:39.144736842%;
	min-width:200px;
}
#para>h3{
	margin-left:-15px;
}

#actionbox{
	position:relative;
	float:left;
	background:#778866;
	width:39.144736842%;
	min-width:316px;
	height:220px;
	margin:30px 0 30px 1.644736842%;
}

#actionbox span,#workwrap span,.package span{
  display: table-cell; 
  vertical-align: middle; 
  text-align: center;
}
.actionlink,#work{
	text-decoration: none;
	font-size:0.9em;
	display:table;
	height:50px;
	width:136px;
	color:#eeffef;
	font-family:'Archivo Black',sans-serif;
	float:left;
}
#actionbox>.actionlink{
	position:absolute;
	float:none;
}
.package>.actionlink{
	background:#424034;
	text-transform: uppercase;
	margin:4px 0 0 25px;
}
.acttl{background:#347c2c;top:40px;left:40px;}
.actbl{background:#3B5998;top:130px; left:40px;}
.acttr{background:#CD332D;top:40px; right:40px;}
.actbr{background:#f88017;top:130px; right:40px;}

.actionlink:hover,#work:hover{
	cursor:pointer;
	background:#99bb66;
}
#outfitters{
	line-height: 1.2em;
	width:100px;
	margin:0 15px 0 0;
	float:left;
	font-style:italic;
	font-size:1.2em;
	font-weight:bold;
}
#workwrap{
	width:250px;
	clear:both;
	text-align:right;
	color:#eeffef;
	font-style:italic;
	position:absolute;
	top:50px;
	right:15px;
}

#work{
	background:#f88017;
	margin:0;
	width:115px;
}

h2{
	font-family:'Archivo Black',sans-serif;
	font-size:50px;
	text-shadow:0 1px 1px #777;
	margin:30px 0 15px 0.657894736%;
}
.package{
	margin-left:1.64473684%;
}
#bookThis{float:right; width:200px;height:100px;background-color:black;}

p{
	font-size:1.2em;
	margin:0;
	position:relative;
}
input{
	outline:none;
	border:none;
	background:#f3f3e5;
	width:78%;
}
.fwrap{
	position:relative;
	outline:1px solid #555544;
	width:225px;
	background:#f3f3e5;
	margin-bottom:15px;
	padding:2px;
	color:#424034;
}
h3{
	font-family:'Archivo Black',sans-serif;
	margin:5px 0 10px;
	font-size:30px;
}
#footer{
	margin-top:-220px;
	height:220px;
	clear:both;
	background:#887755;
	position: relative;
	width:100%;
}

#sitenav{
	margin:0 auto;
	width: 70px;
	padding-top:12px;
	font-weight: bold;
	font-size: 1.1em;
}
#sitenav>h4{
	margin-left:-30px;
}
#sitenav>a{
	color:#eeffef;
	text-decoration: none;
}

#contactform{
	margin:0 auto;
	width: 230px;
	padding-top:12px;
}
#contactinfo{
	padding-top:12px;
	margin:0 auto;
	width:120px;
	line-height:0.7em;
}
#contactinfo>p{
	font-size:1.1em;
	font-weight:bold;
	margin:0;
	line-height: 1.5em;
}
#contactinfo>h4{
	margin-bottom:-12px;
}
#copy{
	margin:-20px auto 0;
	width:173px;
	height:20px;
	padding-left:27px;
	font-size:12px;
}
.tripcol{
	color:#eeffef;
	width:33.33%;
	min-width:300px;
	height:200px;
	position:relative;
	float:left;
}
.currentPage{
	border-bottom:1px dashed white;
	margin-bottom:-1px;
}
.tripcolbox{
	position:relative;
	width:300px;
	margin:23px auto;
	height:175px;
	background:#555544;
}

h4{
	font-family:'Archivo Black';
	font-weight:200;
	margin:0px 0 0 -3px;
	line-height: 2em;
}
#joinmail{
	background:white;
	outline:none;
	border:none;
	height:30px;
	width:120px;
	font-family:'Archivo Black';
	font-size:14px;
	background:#778866;
	text-align: center;
	position:absolute;
	top:132px;
	right:50px;
}

#conf >h4{
	margin-bottom:7px;
}
@media screen and (max-width:1100px){
	.pricegrid{
		float:none;
		margin:20px auto;
		display:block;
	}
}
@media screen and (max-width:920px){
	h2{
		margin-left:1.315789473%;
	}
	#actionbox{
		margin-right:0;
		margin-left:0;
		height:180px;
	}
	#hogpic{
		margin-top:20px;
	}
	.acttl{top:20px;left:20px;}
	.actbl{top:110px; left:20px;}
	.acttr{top:20px; right:20px;}
	.actbr{top:110px; right:20px;}
	#footer{height:auto;}
	.tripcol,.tripcolbox{float:none;margin:0 auto;}
}
@media screen and (max-width:700px){
	.vid{
		margin:40px auto;
		display:block;
		float:none;
		width:78.947368421%;
		border-radius:4px;
		box-shadow:0 1px 2px 0;
	}
	#media{height:730px;}
	#workwrap{display:none;}
	.nav{
		width:79px;
		font-size:0.7em;
	}
	.navdiv{
		width:319px;
		right:0;
	}
	#locatorArrow{
		left:28px;
	}
	h2{
		font-size:45px;
		margin-left:1.97368421%;
	}
	h3{font-size:22px;}
	#hogpic{
		margin:10px auto;
		float:none;
		display:block;
		width:82.236842105%;
	}
	#para{
		float:none;
		margin:20px auto;
		width:65.789473684%;
	}
	#actionbox{
		float:none;
		display:block;
		margin:20px auto;
	}
	.pricegrid{
		float:none;
		width:296px;
		margin:30px auto;

	}
	.rightlist{
		margin-top:-10px;
	}
}
@media screen and(max-width:360px){
	#para{
		width:82.236842105%;
	}
	h2{
		font-size:40px;
	}
}
